body {
    font-family: 'Orbitron', sans-serif;
    background-image: url('lex-luthor.jpg'); /* Establecer imagen de fondo */
    background-size: cover; /* Asegurar que la imagen cubra toda la pantalla */
    background-position: center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen */
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido cubra toda la altura de la pantalla */
}

.container {
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.75); /* Fondo oscuro y semi-transparente para mejorar la legibilidad */
    border-radius: 10px; /* Bordes redondeados para la caja del contenido */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave para un efecto elevado */
}

header h1, h2 {
    color: #ff0000;
}

#countdown {
    font-size: 1.5em;
    margin: 20px 0;
}

#villain-news h2, .crime-news article h3 {
    color: #dd3333;
}

.crime-news {
    text-align: left;
}

.crime-news article {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid red;
}

.crime-news a {
    color: #ff4444;
    text-decoration: none;
}

.crime-news a:hover {
    text-decoration: underline;
}

input[type="password"], button {
    width: 95%;
    padding: 12px;
    margin-top: 5px;
}

button {
    background-color: #444;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

@media (max-width: 600px) {
    body, .container {
        padding: 10px;
        flex-direction: column;
    }

    header, .content {
        width: 100%;
    }
}
