body {
    font-family: 'Orbitron', sans-serif;
    background-image: url('lex-luthor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1, h2 {
    color: #ff0000;
}

#countdown {
    font-size: 1.5em;
    margin: 20px 0;
}

#villain-news h2, .crime-news article h3 {
    color: #dd3333;
}

.crime-news {
    text-align: left;
}

.crime-news article {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid red;
}

.crime-news a {
    color: #ff4444;
    text-decoration: none;
}

.crime-news a:hover {
    text-decoration: underline;
}

input[type="password"], button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em; /* Ajuste para mejorar la accesibilidad en dispositivos móviles */
}

button:hover {
    background-color: #666;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Ajustado para mejor visualización en móviles */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

@media (max-width: 600px) {
    body, .container {
        padding: 10px;
    }

    header, .content {
        width: 100%;
    }

    .modal-content {
        width: 80%; /* Menor ancho para evitar problemas de desbordamiento */
        padding: 15px; /* Espaciado interior optimizado */
    }
}
